<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Se connecter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/connexion2.css">
    </head>
<body>

    <div class="flex">
        <div class="left">
            <h1 class="title"><img src="img/myastk.png" alt="logo"></h1>
            
            <p class="subtitle">All Asteriks in a single point, your applications, your management... all that in found here</p>
    </div>


    <div class="right">
        <h1>Connexion</h1>
        
        <div id="id01" class="modal">
          
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
            </div>
        
            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="" name="uname" required>
        
              <label for="psw"><b>Password <span class="psw"><a href="#">Forgot password?</a></span></b></label>
              
              <input type="password" placeholder="" name="psw" required>
              <div class="link">
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>
              <div class="button">
              <p><button type="submit">Connect</button></p>
                </div>
        </div>
          </form>
        </div>
        </div>
    </div>

<div class="flex2">
    <div class="up">
      <h1>Connexion</h1>
        
      <div id="id01" class="modal">
        
        <form class="modal-content animate" action="/action_page.php" method="post">
          <div class="imgcontainer">
          </div>
      
          <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="" name="uname" required>
      
            <label for="psw"><b>Password <span class="psw"><a href="#">Forgot password?</a></span></b></label>
            
            <input type="password" placeholder="" name="psw" required>
            <div class="link">
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
            <div class="button">
            <p><button type="submit">Connect</button></p>
              </div>
      </div>
        </form>
    </div>
  </div>
        <div class="low">
            <h1 class="title"><img src="img/myastk.png" alt="logo"></h1>
            
            <p class="subtitle">All Asteriks in a single point, your applications, your management... all that in found here</p>
        </div>
      </div>
        </body>