<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Nous contacter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="http://localhost/mspr/public/css/contact.css">
    </head>
<body>

    <div class="flex">
        <div class="left">
            
    </div>


    <div class="right">
        <h1>Nous contacter</h1>
        
        <div id="id01" class="modal">
          
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
            </div>
        
            <div class="container">
              
              <label for="uname"><b>Sujet</b></label>
              <input type="text" placeholder="" name="uname" required>

              <label for="form-message"><b>Message:</b></label>
              <textarea id="subject" name="subject" style="height:200px"></textarea>


              <div class="button">
              <p><button type="submit">Envoyer</button></p>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="flex2">
      <div class="up">
        <h1>Inscription</h1>
          
        <div id="id01" class="modal">
          
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
            </div>
        
            <div class="container">
              
              <label for="uname"><b>Sujet</b></label>
              <input type="text" placeholder="" name="uname" required>

              <label for="form-message"><b>Message:</b></label>
              <textarea id="subject" name="subject" style="height:200px"></textarea>



              <div class="button">
              <p><button type="submit">Nous contacter</button></p>
              </div>

            </div>
          </form>
    </div>
  </div>
          <div class="low">
          </div>
        </div>

</body>

    </html>