<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Inscription</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/inscription.css">
    </head>
<body>

    <div class="flex">
        <div class="left">
            
    </div>


    <div class="right">
        <h1>Inscription</h1>
        
        <div id="id01" class="modal">
          
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
            </div>
        
            <div class="container">
              
              <label for="uname"><b>Nom</b></label>
              <input type="text" placeholder="" name="uname" required>

              <label for="uname"><b>Prénom</b></label>
              <input type="text" placeholder="" name="name" required>

              

              <label for="email"><b>Adresse mail:</label>
              <input type="email" placeholder="" name="email" required>

              <label for="phone"><b>Numéro de téléphone</label>
                <input type="tel" placeholder="" name="tel" required>



              <label for="psw"><b>Mot de passe <span class="psw"><a href="#"></a></span></b></label>
              <input type="password" placeholder="" name="psw" required>
              
              <label for="psw"><b>Mot de passe confirmé<span class="psw"><a href="#"></a></span></b></label>
              <input type="password" placeholder="" name="psw" required>



              <div class="button">
              <p><button type="submit">Incription</button></p>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="flex2">
      <div class="up">
        <h1>Inscription</h1>
          
        <div id="id01" class="modal">
          
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
            </div>
        
            <div class="container">
              
              <label for="uname"><b>Nom</b></label>
              <input type="text" placeholder="" name="uname" required>

              <label for="uname"><b>Prénom</b></label>
              <input type="text" placeholder="" name="name" required>

              

              <label for="email"><b>Adress mail:</b></label>
              <input type="email" placeholder="" name="email" required>

              <label for="phone"><b>Numero de téléphone </b></label>
                <input type="tel" placeholder="" name="tel" required>



              <label for="psw"><b>Mot de passe<span class="psw"><a href="#"></a></span></b></label>
              <input type="password" placeholder="" name="psw" required>
              
              <label for="psw"><b>Mot de passe confirmé?<span class="psw"><a href="#"></a></span></b></label>
              <input type="password" placeholder="" name="psw" required>



              <div class="button">
              <p><button type="submit">Incription</button></p>
              </div>

            </div>
          </form>
    </div>
  </div>
          <div class="low">
          </div>
        </div>

</body>

    </html>